@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

span{
    color: #00b4d8;
}


.container{
    width: 1300px;
    margin: 0 auto;
    padding: 25px 0;
    /* background-color: rgba(0, 0, 0, 0.207); */
}

.content-menu{
    display: flex;
    align-items: center;
}

.logo{
    font-size: 14px;
    flex-grow: 1;
    
}
.menu-link a{
    color: #03045e;
}

.menu-list{
    display: flex;
    align-items: center;
    
}

.menu-link:not(:last-child){
    margin: 0 40px;
    font-weight: 500;
    color: #03045e;
    display: block;
    cursor: pointer;
}


.btn-login{
    font-weight: 500;
    color: #fff !important;
    border: 2px solid #00b4d8;
    padding: 10px 22px;
    border-radius: 8px;
    margin-left: 20px;
    background-color: #00b4d8;
    transition: all ease .3s;
}

.btn-login:hover{
    background-color: #fff;
    color: #00b4d8 !important;
}

.btn-signup{
    font-weight: 500;
    color: #00b4d8 !important;
    border: 2px solid #00b4d8;
    padding: 10px 18px;
    border-radius: 8px;
    margin-left: 20px;
    transition: all ease .3s;
}

.btn-signup:hover{
    background-color: #00b4d8;
    color: #fff !important;
}

.content-home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.text-home{
    width: 500px;
}

.tag-home{
    color: #00b4d8;
}

.text1{
    font-size: 48px;
    line-height: 58px;
    font-weight: 700;
    margin-bottom: 20px;
}

.tag-cerita{
    font-weight: 500;
}

.img-home{
    max-width: 600px;
}

.img-home img{
    width: 100%;
}

.about-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 80px;
    margin-top: 60px;
}
.text-judul{
    font-size: 36px;
    margin-bottom: 10px;
}

.img-about{
    width: 100px;
}

.img-about{
    width: 100%;
}

.about-text{
    width: 100%;
    margin-top: -30px;
}

.btn-baca{
    font-weight: 500;
    color: #fff;
    border: 2px solid #00b4d8;
    padding: 10px 22px;
    border-radius: 8px;
    background-color: #00b4d8;
    transition: all ease .3s;
    position: relative;
    top: 40px;
    
}

.btn-baca:hover{
    background-color: #fff;
    color: #00b4d8;
}

.cerita-judul{
    font-weight: 500;
    font-size: 16px;
    width: 30%;
    color: rgba(0, 0, 0, 0.421);
    margin-bottom: 60px;
}

.cerita-content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;

    margin-bottom: 60px;
}

.cerita-form{
    box-shadow: 0px 0px 50px 4px #d6d6d6;
    border-radius: 10px;
    height: 250px;
    width: 280px;
    display: flex;
    align-items: center;
}

.cerita-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-tambah{
    font-weight: 500;
    color: #fff;
    border: 2px solid #00b4d8;
    padding: 10px 22px;
    border-radius: 8px;
    background-color: #00b4d8;
    transition: all ease .3s;
    
}

textarea{
    margin-bottom: 20px;
    border-radius: 6px;
    padding: 10px;
}

.btn-tambah:hover{
    background-color: #fff;
    color: #00b4d8;
}

.today{
    flex-direction: column;
    padding: 20px;
    box-shadow: 0px 0px 50px 4px #d6d6d6;
    border-radius: 10px;
    height: 250px;
    width: 280px;
    cursor: pointer;
    transition: all ease .5s;
    position: relative;
}

.today:hover{
    transform: scale(1.1);
    background-color: #48cae4;
}

.tag-one{
    color: #00b4d8;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 5px;
    transition: all ease .5s;
}

.tag-one:hover{
    color: #fff;
}

.cerita-name{
    font-size: 29px;
    margin-bottom: 10px;
    text-transform: capitalize;    
    transition: all ease .5s;
}

.cerita-name:hover{
    color: #fff;
}
.cerita-text{
    color: rgba(0, 0, 0, 0.621);
    transition: all ease .5s;
}

.cerita-text:hover{
    color: #fff;
}

footer{
    padding: 20px 0;
}

.btn-action{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.bx{
    color: #00b4d8;
    font-size: 24px;
    transition: all ease .5s;
}

.bx:hover{
    color: #fff;
}